.home-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
}

.home-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.home-title .welcome {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: x-large;
}

.home-title .name {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: x-large;
}

.search-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
}

.search-container input[type="text"] {
  font-family: "Lato", sans-serif;
  width: 100%;
  padding: 10px 10px 10px 40px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.search-container input:focus {
  outline: none;
}

.search-container span {
  position: absolute;
  left: 10px;
  font-size: 24px;
  color: #888;
}

.search-layout .error {
  display: flex;
  justify-content: center;
}

.error p {
  margin-top: 20px;
  font-family: "Lato", sans-serif;
  font-size: large;
  color: white;
  padding: 15px 30px;
  border-radius: 20px;
  background: rgba(167, 0, 0, 0.981);
}

.search-results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 5px;
  gap: 20px;
}
